h1{
    font-size: 80px;
    font-family: Impact;
    font-size: 150%;

}

button{
    width: 250px;
    height: 80px;
    background-color: blue;
    color: white;
   margin-left: 50%;
}

p{
    font-family: 'Times New Roman';
    font-size: 160%;
    margin: 35px 0px
}